################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApplicationApi/WebApplicationApi/appsettings.json
/WebApplicationApi/WebApplicationApi/appsettings.Development.json
